.contact-page {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;

  /* padding-top: 61px; */
}

.contact-container {
  margin: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* .label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 18px;
} */

.form-element label {
  display: flex;
  color: #898989;
  font-size: 13px;
  line-height: 20px;
}

.form-element input {
  /* width: 270px; */
  /* height: 40%; */
  background: #f6f6f6;
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-size: 13px;
}

.form-element p {
  font-size: 13px;
  color: #ec7160;
  font-style: italic;
  opacity: 0;
}

.form-element p.visible {
  opacity: 1;
}

.form-element textarea {
  /* width: 600px; */
  /* height: 135px; */
  /* height: 100%; */
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-size: 13px;
}

.form-element input:focus-visible,
.form-element textarea:focus-visible {
  outline: 2px solid #898989;
}

.span-two {
  grid-column: span 2;
}

.submit-message-button {
  cursor: pointer;
  background-color: #ec7160;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  
}

