.pane-sidebar {
  min-width: 300px;
  border-right: 2px solid #e7e7e9;
  min-height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.pane-sidebar.hidden {
  display: none;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.sidebar-header > h3 {
  font-size: 1.75rem;
}

.create-note-btn {
  background-color: #ec7160;
  color: white;
  height: 40px;
  width: 100%;
  margin: 40px 15px;
}

.pane-sidebar > h5 {
  font-size: 13px;
  font-weight: 500;
  color: #ec7160;
  padding: 8px;
  padding-left: 15px;
  border-top: 2px solid #e7e7e9;
  border-bottom: 2px solid #e7e7e9;
  margin-top: 0px;
}

.notes-container {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.note-element-container {
  height: fit-content !important;
}

.title {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 15px;
  margin: 0px 15px;
}

.note-title {
  color: #303030;
  margin: 11px 0 5px !important;
  font-size: 1rem;
  font-weight: 400;
}

.note-date {
  font-size: 13px;
  font-weight: 400;
  color: #898989;
  margin: 11px 0 10px !important;
}

.title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.text-snippet {
  max-width: 75ch;
  max-height: 30px;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 400;
  color: #898989;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px !important;
}

.selected-note {
  background-color: #f6f6f6;
  border-radius: 8px;
  margin-left: 15px;
}

.gutter.gutter-horizontal {
  width: 0px !important;
}

.gutter {
  background-color: #eee;
}

.gutter.gutter-horizontal {
  background-color: white;
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.delete-btn {
  display: none;
  background: none;
  border: none;
  align-self: flex-end;
  padding: 0 0 10px;
}

.title:hover > .delete-btn {
  display: flex;
  position: relative;
  bottom: 5px;
}

.trash-icon {
  cursor: pointer;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

@media only screen and (max-width: 560px) {
  .split {
    margin: 0;
  }
  .pane-sidebar {
    min-width: 150px !important;
    height: 100%;
  }
  .title.selected-note {
    padding: 5px;
  }
  .title {
    padding: 5px;
    margin: 0px 5px;
    gap: 5px;
  }
  .note-title,
  .text-snippet,
  .note-date {
    margin: 2px 0px;
    font-size: 0.7rem;
  }
  .note-element-container {
    margin: 5px 0px;
  }
  .delete-btn {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 2px;
  }
  .notes-container {
    padding-left: 5px;
  }
}
