.pane-sidebar {
  min-width: 340px;
  border-right: 2px solid #e7e7e9;
  height: 100%;
  overflow: hidden;
}

.pane-sidebar.hidden {
  display: none;
}

.notes-container::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

.notes-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.notes-container::-webkit-scrollbar-thumb {
  background-color: #e7e7e9;
}

.sidebar--header {
  display: grid;
  place-content: center;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}

.sidebar--header > h3 {
  font-size: 1.75rem;
}

.create-note-btn {
  cursor: pointer;
  background-color: #ec7160;
  border: none;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 265px;
  margin-top: 60px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.pane-sidebar > h5 {
  font-size: 13px;
  font-weight: 300;
  color: #ec7160;
  padding: 8px;
  padding-left: 1rem;
  border-top: 2px solid #e7e7e9;
  border-bottom: 2px solid #e7e7e9;
}

.notes-container {
  overflow-x: scroll;
  /* max-height: 73vh; */
  height: 80%;
}

.first-note {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}

/* .editor {
  width: 80%;
  border: 2px solid #e7e7e9;
  padding: 10px;
} */

.note-element-container {
    height: fit-content !important
}

.title {
  overflow: hidden;
  cursor: pointer;
  /* max-height: 220px; */
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.note-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #303030;
}

.note-date {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #898989;
}

.title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.text-snippet {
  max-width: 75ch;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #898989;
  white-space: nowrap;
  overflow: hidden;
}

.selected-note {
  background-color: #f6f6f6;
  border-radius: 8px;
  margin-left: 15px;
}

.selected-note .text-snippet {
  color: #898989;
}

.gutter.gutter-horizontal {
  width: 0px !important;
}

.gutter {
  background-color: #eee;
}

.gutter.gutter-horizontal {
  background-color: white;
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.delete-btn {
  display: none;
  background: none;
  border: none;
  align-self: flex-end;
  padding-bottom: 10px;
}

.title:hover > .delete-btn {
  display: flex;
  position: relative;
  bottom: 5px;
}

.trash-icon {
  cursor: pointer;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}
